<div class="container">
  <h1>Listado de Personal</h1>
  <div class="form-group">
    <input type="text" class="forms-control" placeholder="Buscar.."  [(ngModel)]="filterp"
    name="filterp" />
  </div>
</div>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>RUT</th>
        <th>DETALLE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of listaPersonal | filter: filterp">
        <td>{{ p.id }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.rut }}</td>
        <button>Ver</button>
      </tr>
    </tbody>
  </table>
</div>